<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturer Dashboard</title>
</head>

<body>
    <h2>Lecturer Dashboard</h2>
    <p>Welcome, {{ user.username }}! Manage your classroom.</p>
    <div>
        <a href="{% url 'users:logout' %}">Logout</a>
    </div>
    <hr>
    <h3>Manage Assignments:</h3>
    <a href="{% url 'assignments:create' %}"><button>Create New Assignment</button></a>
    <ul>
        <li><a href="{% url 'assignments:list' %}">View Assignments</a></li>
    </ul>
    <hr>
    <h3>Student Submissions:</h3>
    <a href="{% url 'submissions:list_scaffold' %}"><button>View Submissions</button></a>
</body>

</html>