<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>

<body>
    <h2>Student Dashboard</h2>
    <p>Welcome, {{ user.username }}!</p>
    <div>
        <a href="{% url 'users:logout' %}">Logout</a>
        <h3>Your Assignments:</h3>
        <ul>
            {% for assignment in assignments %}
            <li>
                {{ assignment.title }}
                <a href="{% url 'submissions:editor' assignment.id %}"><button>Solve</button></a>
            </li>
            {% empty %}
            <li>No assignments yet.</li>
            {% endfor %}
        </ul>
</body>

</html>