<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student Submissions (Scaffold)</title>
</head>

<body>
    <h2>Student Submissions</h2>
    <a href="{% url 'users:dashboard' %}">Back to Dashboard</a>

    <p><i>(Mock UI)</i> Here you will see a list of submissions from students.</p>
    <ul>
        <li><b>Student A</b> - Assignment 1 - <span style="color: green;">Pass</span> - <button>View Code</button></li>
        <li><b>Student B</b> - Assignment 1 - <span style="color: red;">Fail</span> - <button>View Code</button></li>
    </ul>
</body>

</html>