<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student Submissions</title>
</head>

<body>
    <h2>Student Submissions</h2>
    <a href="{% url 'users:dashboard' %}">Back to Dashboard</a>

    <ul>
        {% for item in submissions %}
        <li>
            <b>{{ item.student.username }}</b> | {{ item.assignment.title }} |
            <span style="color: {% if item.passed %}green{% else %}red{% endif %};">
                {% if item.passed %}PASS{% else %}FAIL{% endif %}
            </span>
            | {{ item.submitted_at|date }}
            | <button onclick="alert(`{{ item.code|escapejs }}`)">View Code</button>
        </li>
        {% empty %}
        <li>No submissions yet.</li>
        {% endfor %}
    </ul>
</body>

</html>